.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features-list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.cards-container {
  margin-bottom: 30px;
}

.cards-container__label {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.143;
  color: var(--regular-text-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.cards-container__text {
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.features-list__item {
  width: 450px;

  @media screen and (max-width: 479px) {
    max-width: 100%;
  }
}

.features-list__item:not(:last-child) {
  margin-right: 30px;
}

.features-logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;

  @media screen and (max-width: 479px) {
    max-width: 100%;
  }
}

.features-logo__ico {
  width: 70px;
  height: 70px;
}
