.footer {
  background: #2f303a;
  padding: 60px 0;

  & .container {
    display: flex;
    align-items: baseline;
  }
}

.logo--footer {
  color: var(--additional-text-color);
}

.address {
  margin-top: 20px;
}

.address-list__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address-list__link {
  font-style: normal;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-logo-color);
  }
}

.footer-tel-mail {
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social__wrapper {
  margin-left: 70px;
}

.footer-social__wrapper--label {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--additional-text-color);
}

.social-list--footer {
  width: 200px;
  margin: 0;
  padding: 0;
}

.social-link--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--main-logo-color);
  }
}

.social-list__icon--footer {
  fill: var(--additional-text-color);
}
