.header {
  outline: 1px solid #ececec;
}

.header__navigation {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.navigation {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.navigation__list {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.142;
    letter-spacing: 0.02em;
  }
}

.navigation__item {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.navigation__link {
  @media screen and (min-width: 768px) {
    display: block;
    position: relative;
    color: var(--regular-text-color);
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--main-logo-color);
    }
  }

  @media screen and (min-width: 1200px) {
  }
}

.header-contacts {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: center;
    margin-left: auto;
  }
}

.mail {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: var(--specific-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-logo-color);
    .mail__logo {
      fill: var(--main-logo-color);
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 5px;
  }

  @media screen and (min-width: 1200px) {
    padding: 32px 0;
    margin-right: 50px;
    font-size: 14px;
    line-height: 1.143;
  }
}

.mail__logo {
  @media screen and (min-width: 768px) {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--specific-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.tel {
  @media screen and (min-width: 768px) {
    display: flex;
    padding-top: 5px;
    padding-bottom: 21px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.02em;
    color: var(--specific-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--main-logo-color);

      .tel__logo {
        fill: var(--main-logo-color);
      }
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.143;
  }
}

.tel__logo {
  @media screen and (min-width: 768px) {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
