:root {
  --main-logo-color: #2196F3;
  --regular-text-color: #212121;
  --specific-text-color: #757575;
  --additional-text-color: #FFFFFF;
  --links-main-color: #AFB1B8;
  --portfolio-bg-color: #EEEEEE;
  --cards-overlay-color: rgba(33, 150, 243, 0.9);
  --main-font-family: 'Roboto', sans-serif;
  --additional-font-family: 'Raleway', sans-serif;
}